<main id="documentation" class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-9" id="doc-search">
			<%= render partial: "docsearchform" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<%= render partial: "docnav" %>
		</div>
		<div class="col-sm-9">
			<div class="page-title">
				<%= @document['docchapter.title'] ? @document['docchapter.title'].as_html_safe(link_resolver(@maybe_ref)) : '' %>
				<%= @document['docchapter.intro'] ? @document['docchapter.intro'].as_html_safe(link_resolver(@maybe_ref)) : '' %>
			</div>
			<article>
				<% @docs.each do |doc| %>
					<section id="<%= doc.id %>">
						<%= doc['doc.title'] ? doc['doc.title'].as_html_safe(link_resolver(@maybe_ref)) : '' %>
						<%= doc['doc.content'] ? doc['doc.content'].as_html_safe(link_resolver(@maybe_ref)) : '' %>
					</section>
				<% end %>
			</article>
		</div>
	</div>
</main>
