<main id="getinvolved" class="container">
	<section class="row">
		<div class="col-md-8">
			<%= render partial: "article" %>
		</div>
		<div class="col-md-4" id="contributors">
			<h3>Main contributors</h3>
			<% @contributors.each do |contributor| %>
				<section class="contributor" id="<%= contributor.id %>">

					<p class="image"><%= contributor['contributor.photo'] && contributor['contributor.photo'].get_view('icon') ? contributor['contributor.photo'].get_view('icon').as_html_safe(link_resolver(@maybe_ref)) : '' %></p>

					<h4><%= contributor['contributor.fullname'] ? contributor['contributor.fullname'].as_text : '' %></h4>
					<p class="title"><%= contributor['contributor.title'] ? contributor['contributor.title'].as_text : '' %></p>

					<div class="description">
						<%= contributor['contributor.description'] ? contributor['contributor.description'].as_html_safe(link_resolver(@maybe_ref)) : '' %>
					</div>

					<% if contributor['contributor.links'] && !contributor['contributor.links'].empty? %>
						<ul>
							<% contributor['contributor.links'].each do |linkgroup| %>
								<% if linkgroup['link'] %>
									<li>
										<%= linkgroup['link'].start_html(link_resolver(@maybe_ref)).html_safe %>
											<%= linkgroup['label'] ? linkgroup['label'].as_text : linkgroup['link'].url %>
										<%= linkgroup['link'].end_html(link_resolver(@maybe_ref)).html_safe %>
									</li>
								<% end %>
							<% end %>
						</ul>
					<% end %>
				</section>
			<% end %>
		</div>
	</section>
</main>