<main id="homepage">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="page-title">
    <div class="container">

      <div class="row">
        <div class="col-lg-7 col-md-8 col-sm-10">
          <%= @document['article.title'] ? @document['article.title'].as_html_safe(link_resolver(maybe_ref)) : '' %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10">
          <%= @document['article.lede'] ? @document['article.lede'].as_html_safe(link_resolver(maybe_ref)) : '' %>
        </div>
      </div>

      <div class="row ctas">
        <% if @ctas.length != 0 %>
          <% @ctas.each_with_index do |cta, index| %>
            <div class="col-lg-3 col-md-4 col-sm-6 <%= index==0 ? 'primary' : '' %>">
              <%= link_to cta['cta.label'].as_text, cta['cta.link'].url(link_resolver(maybe_ref)) %>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <div id="arguments" class="container">
    <div class="row">
      <% @arguments.each do |argument| %>
        <div class="col-md-4" id="<%= argument.id %>">
          <p class="argument-image"><%= argument['argument.icon'] && argument['argument.icon'].get_view('medium') ? argument['argument.icon'].get_view('medium').as_html_safe(link_resolver(maybe_ref)) : '' %></p>
          <h3><%= argument['argument.title'] ? argument['argument.title'].as_text : '' %></h3>
          <%= argument['argument.description'].as_html_safe(link_resolver(maybe_ref)) %>
        </div>
      <% end %>
    </div>
  </div>

  <% if @references.length != 0 %>
    <div id="references" class="container">
      <% @references.each do |reference| %>
        <% if reference['reference.logo'] && reference['reference.logo'].get_view('flat') %>
          <%= image_tag(reference['reference.logo'].get_view('flat').url,
                size: "150x75",
                alt: reference['reference.name'].as_text,
                title: reference['reference.name'].as_text,
                id: reference.id) %>
        <% end %>
      <% end %>
    </div>
  <% end %>

</main>
